#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/launch_proxy
- name: Run HTTPD
  community.docker.docker_container:
      name: httpd
      image: "damaaax/tp-devops-httpd:{{ version }}"
      ports: 
          - "0.0.0.0:80:80"
      networks:
          - name: "{{ network }}"
